<div class="mt-3 max-w-screen-xl flex items-center justify-between mx-auto py-1">
  <div class="relative h-[577.5px] w-[300px] m-auto  bg-red-900">
      <!-- Item 1 -->
      <div class="duration-700 ease-in-out carousel-item active" data-carousel-item>
          <img src="./asset/slide/photo_1_2024-05-10_14-25-13.jpg" class="absolute left-0 sm:left-[-32rem] lg:left-[-32rem] h-[577.5px] mt-4 blur-[7px]" alt="...">
      </div>

      <!-- Item 2 -->
      <div class="duration-700 ease-in-out carousel-item" data-carousel-item>
          <img src="./asset/slide/photo_2_2024-05-10_14-25-13.jpg" class="absolute left-[-3.7rem] sm:left-[-17rem] lg:left-[-17rem] h-[577.5px] mt-4 blur-[7px]" alt="...">
      </div>

      <!-- Item 3 -->
      <div class="duration-700 ease-in-out carousel-item" data-carousel-item>
          <img src="./asset/slide/photo_3_2024-05-10_14-25-13.jpg" class="absolute z-40 left-[0rem] h-[587.5px]" alt="...">
      </div>

      <!-- Item 4 -->
      <div class="duration-700 ease-in-out carousel-item" data-carousel-item>
          <img src="./asset/slide/photo_4_2024-05-10_14-25-13.jpg" class="absolute z-30 left-[2.7rem] sm:left-[16.8rem] lg:left-[16.8rem] h-[577.5px] mt-4 blur-[7px]" alt="...">
      </div>

      <!-- Item 5 -->
      <div class="duration-700 ease-in-out carousel-item" data-carousel-item>
          <img src="./asset/slide/photo_5_2024-05-10_14-25-13.jpg" class="absolute sm:left-[32rem] left-0 lg:left-[32rem] h-[577.5px] mt-4 blur-[7px]" alt="...">
      </div>


      <!-- Slider indicators -->
      <div class="absolute z-50 flex bottom-5 left-[6rem] space-x-3 rtl:space-x-reverse ">
          <button type="button" class="w-3 h-3 rounded-full bg-[#E0E0E0]" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0" onclick="goToSlide(0)"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-[#E0E0E0]" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1" onclick="goToSlide(1)"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-[#fafb83]" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2" onclick="goToSlide(2)"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-[#E0E0E0]" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3" onclick="goToSlide(3)"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-[#E0E0E0]" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4" onclick="goToSlide(4)"></button>
      </div>
  </div>
</div>
